.register-container {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
  transform: rotateY(180deg);
  .register-container__top {
    position: relative;
    border: 1px solid gray;
    border-radius: 6px;
    height: calc-to-rem(345);
    width: calc-to-rem(310);
    margin-block-start: calc-to-rem(12);
    padding: calc-to-rem(30) calc-to-rem(40);
    .name-app {
      font-family: "Dancing Script", cursive;
      text-align: center;
      font-size: calc-to-rem(56);
      margin-block: 0 0.67em;
    }
    .btn-toggle-mode {
      position: absolute;
      top: 2%;
      right: 2%;
    }
    .register-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .username-input,
      .email-input,
      .password-input {
        position: relative;
        margin-block-end: calc-to-rem(10);
        display: flex;
        align-items: center;
        width: 100%;
        font-size: calc-to-rem(20);
        input {
          width: 100%;
          padding-block: calc-to-rem(5);
          padding-inline: calc-to-rem(10) calc-to-rem(40);
          font-size: inherit;
          &:focus {
            outline: none;
          }
        }
        button {
          margin-block-start: calc-to-rem(5);
          margin-inline-end: calc-to-rem(5);
          padding: calc-to-rem(5);
          position: absolute;
          right: 0;
          border: none;
          background: transparent;
          width: calc-to-rem(34);
          height: calc-to-rem(34);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          :hover {
            cursor: pointer;
            border-radius: 50%;
            background: gainsboro;
          }
        }
      }
      .register-btn {
        margin-block: calc-to-rem(10) calc-to-rem(4);
        padding: calc-to-rem(12) calc-to-rem(10);
        border: none;
        border-radius: 6px;
        background: $main-color-button;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: calc-to-rem(20);
        &:hover {
          cursor: pointer;
          background: rgba(0, 148, 246, 0.8);
        }
        &:active {
          background: rgb(0, 114, 189);
        }
        &:disabled {
          background: rgb(178, 223, 252);
          color: #fdfeff;
        }
      }
      p {
        color: #f00024;
        font-size: calc-to-rem(16);
        margin-block-start: calc-to-rem(10);
        margin-block-end: calc-to-rem(10);
        text-align: center;
      }
    }
  }
  .register-container__botom {
    border: 1px solid gray;
    border-radius: 6px;
    height: max-content;
    margin-block-start: calc-to-rem(30);
    width: calc-to-rem(310);
    padding: calc-to-rem(20) calc-to-rem(40);
    text-align: center;
    a {
      font-weight: bold;
      color: $color-link;
    }
  }
}
