.story-avatar {
  display: flex;
  align-items: center;
  &--gradient-border {
    padding: calc-to-rem(4);
    border-radius: 50%;
    background: linear-gradient(to top right, #00ef92, #00b9d8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--gray-border {
    // padding: 4px;
    border-radius: 50%;
    border: calc-to-rem(2) solid gray;
  }
  &--white-border {
    padding: calc-to-rem(2);
    border-radius: 50%;
    background: white;
  }
}
