.main-page {
  min-height: 100vh;
  display: flex;
  // justify-content: space-between;
  &__center {
    margin-left: auto;
    width: calc(100vw - calc-to-rem(244));
    height: 1000px;
    // background: rgba(207, 196, 196, 0.4);
    background: black;
    &__wrapper {
      margin: 0 auto;
      width: 820px;
      &__left {
        max-width: calc-to-rem(470);
        width: 100%;
      }
    }
  }
}

.dark .main-page {
  background: #393e46;
  color: white;
}
