.main-page {
  min-height: 100vh;
  display: flex;
  // justify-content: space-between;
  &__center {
    margin-left: auto;
    width: calc(100vw - calc-to-rem(244));
    // height: 1000px;
    // background: rgba(207, 196, 196, 0.4);
    // background: black;
    &__wrapper {
      position: relative;
      display: flex;
      margin: 0 auto;
      width: 820px;
      gap: calc-to-rem(32);
      &__left {
        max-width: calc-to-rem(470);
        width: 100%;
        .list-post {
          margin-block-start: calc-to-rem(16);
        }
      }
      &__right {
        margin-block-start: calc-to-rem(14);
        // border: 1px solid red;
        border-radius: 10px;
        width: calc-to-rem(319);
        height: 500px;
      }
    }
  }
}

.dark .main-page {
  background: #121212;
  color: #f0f0f0;
}
