.main-page {
  min-height: 100vh;
  display: flex;
  // justify-content: space-between;
  &__center{
    margin-left: auto;
    width: calc(100% - calc-to-rem(244));
    height: 1000px;
    background: brown;
  }
}

.dark .main-page {
  background: #393E46;
  color: white;
}