.avatar {
  position: relative;
  width: calc-to-rem(26);
  height: calc-to-rem(26);
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  overflow: hidden;
  vertical-align: middle;
}
