.image-slider-container {
  position: relative;
  // display: flex;
  // align-items: center;
  transition: all ease-in-out 0.3s;
  &--left-btn,
  &--right-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: rgb(132, 132, 132);
    color: whitesmoke;
    z-index: 9999;
    top: 50%;
    border: 0;
    background: transparent;
    padding: 0;
    font-size: calc-to-rem(24);
    cursor: pointer;
    padding: calc-to-rem(16) calc-to-rem(8);
  }
  &--left-btn {
    left: 0;
  }
  &--right-btn {
    right: 0;
  }
  &__main-content {
    width: fit-content;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    .image {
      height: 100%;
      width: 100%;
      position: relative;
      object-fit: contain;
      object-position: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .list-pointer {
    position: absolute;
    bottom: calc-to-rem(15);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc-to-rem(12);
    transform: translateX(-50%);
    &__pointer {
      height: 6px;
      width: 6px;
      background: whitesmoke;
      // background: darkorange;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      opacity: 0.4;
      cursor: pointer;
      &.active {
        opacity: 1;
        scale: 1.5;
      }
    }
  }
}
