.share-post {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: inherit;
  .dark & {
    background: #262626;
    border-color: $border-dark;
  }
  .light & {
    background: $background-light;
    border-color: $border-light;
  }
  overflow: hidden;
  width: calc-to-rem(860);
  height: calc-to-rem(563);
  margin: calc-to-rem(20);
  border-radius: calc-to-rem(12);
  // border: 1px solid $border-dark;
  &__header {
    // display: flex;
    padding-block: calc-to-rem(9);
    text-align: center;
    font-size: calc-to-rem(16);
    line-height: calc-to-rem(24);
    font-weight: 600;
    border-bottom: 1px solid;
    border-color: inherit;
  }
  &__main {
    @include desktop {
      overflow: hidden;
      display: flex;
    }
    overflow: scroll;
    height: calc(100% - 42px);
    border-color: inherit;
    &__left {
      @include desktop {
        width: calc-to-rem(520);
      }
      height: calc-to-rem(520);
      @include mobile {
        height: calc-to-rem(450);
      }
      background: inherit;
      overflow: hidden;
      position: relative;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      .setting-btns {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: calc-to-rem(12);
        right: calc-to-rem(12);
        color: inherit;
        z-index: 9999;
        &__order-images,
        &__delete-image-btn {
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: calc-to-rem(6);
          background: transparent;
          border: none;
          color: inherit;
          cursor: pointer;
        }
      }
      .upload-image {
        display: flex;
        // justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: calc-to-rem(20);
          line-height: calc-to-rem(25);
          font-weight: 400;
          color: inherit;
          margin-block-end: calc-to-rem(12);
        }
        label {
          background: rgb(0, 149, 246);
          padding: calc-to-rem(7) calc-to-rem(16);
          color: white;
          border-radius: calc-to-rem(8);
          border: none;
          font-size: calc-to-rem(14);
          font-weight: 600;
          line-height: calc-to-rem(18);
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
    }
    &__right {
      border-left: 1px solid;
      border-color: inherit;
      padding: calc-to-rem(10);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      @include desktop {
        width: calc-to-rem(340);
      }
      @include tablet {
        border-block-start: 1px solid;
        border-color: inherit;
      }
      @include mobile {
        border-block-start: 1px solid;
        border-color: inherit;
      }
      .user {
        display: flex;
        align-items: center;
        margin-block: calc-to-rem(8) calc-to-rem(14);
        &__avatar {
          width: calc-to-rem(40);
          height: calc-to-rem(40);
        }
        &__name {
          flex-grow: 1;
          font-size: calc-to-rem(20);
          font-weight: 600;
          line-height: calc-to-rem(24);
          margin-inline-start: calc-to-rem(12);
        }
      }
      .description {
        padding-inline: calc-to-rem(10);
        padding-block: calc-to-rem(6);
        border: none;
        margin: 0;
        width: calc(100% - 20px);
        height: calc-to-rem(250);
        flex-grow: 1;
        resize: none;
        background: transparent;
        color: inherit;
        font-family: inherit;
        ::placeholder {
          font-size: calc-to-rem(14);
          font-weight: 600;
          line-height: calc-to-rem(24);
        }
      }
      .state {
        margin-block-start: calc-to-rem(10);
        overflow: hidden;
        white-space: pre-line;
        // flex-grow: 1;
        &__post-btn {
          border: 0;
          padding: calc-to-rem(8);
          margin-block-end: calc-to-rem(12);
          width: 100%;
          background: rgb(0, 149, 246);
          color: white;
          line-height: calc-to-rem(18);
          font-weight: bold;
          cursor: pointer;
          border-radius: calc-to-rem(12);
          &:disabled {
            color: rgb(179, 219, 255);
          }
        }
      }
    }
  }
}
