.mini-post {
  position: relative;
  width: calc-to-rem(293);
  height: calc-to-rem(293);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  .dark & {
    border: 1px solid $border-dark;
    // color: $text-dark;
  }
  .light & {
    border: 1px solid $border-light;
    color: $text-dark;
  }
  border-radius: calc-to-rem(12);
  cursor: pointer;
  overflow: hidden;
  transition: opacity ease-in-out 0.3s;
  .hover {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.3s;
    background: rgb(69, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: calc-to-rem(26);
    gap: calc-to-rem(20);
    .liked,
    .comments {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -o-user-select: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: calc-to-rem(10);
    }
  }
}
