.loading-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .border-1 {
    position: absolute;
    width: calc-to-rem(200);
    height: calc-to-rem(200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc-to-rem(10);
    border: calc-to-rem(5) solid #00ef92;
  }
  .border-2 {
    position: absolute;
    width: calc-to-rem(190);
    height: calc-to-rem(190);
    border-radius: calc-to-rem(10);
    border: calc-to-rem(5) solid #00b9d8;
  }
  .logo {
    width: calc-to-rem(100);
    height: calc-to-rem(100);
  }
}
.dark {
  .loading-page {
    background: $main-background-dark;
    color: $text-dark;
  }
}
.white {
  .loading-page {
    background: white;
    color: black;
  }
}
