.post {
  border-radius: calc-to-rem(8);
  border: calc-to-rem(1) solid $border;
  width: 100%;
  margin-block-end: calc-to-rem(12);
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc-to-rem(56);
    &__avatar {
      padding-inline-start: calc-to-rem(8);
    }
    &__text {
      flex-grow: 2;
      margin-inline-start: calc-to-rem(6);
      &__user-name {
        line-height: calc-to-rem(22);
        font-weight: bold;
      }
      &__sub-title {
        line-height: calc-to-rem(20);
      }
    }
    &__more-btn {
      background: transparent;
      border: 0;
      color: white;
      padding: calc-to-rem(8);
      cursor: pointer;
      &__svg {
        font-size: 24px;
      }
    }
  }
  &__content {
    position: relative;
    height: calc-to-rem(470);
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    vertical-align: middle;
  }
  &__footer {
    padding-inline: calc-to-rem(12);
    margin-block-start: calc-to-rem(4);
    &__btns {
      padding-block-end: calc-to-rem(6);
      display: flex;
      &__like-btn,
      &__comment-btn,
      &__share-btn,
      &__save-btn {
        border: 0;
        padding: calc-to-rem(8);
        background: transparent;
        color: white;
        // color: #ed4956;
        cursor: pointer;
      }
      &__save-btn {
        margin-left: auto;
      }
    }
    &__likes {
      padding-inline: calc-to-rem(8);
      margin-block-end: calc-to-rem(8);
      font-weight: bold;
    }
    &__paragraph {
      padding-inline: calc-to-rem(8);
      margin-block-end: calc-to-rem(8);
      &__user-name {
        font-weight: bold;
      }
      &__content {
        font-size: calc-to-rem(14);
        line-height: calc-to-rem(18);
        text-align: justify;
      }
    }
    &__view-comments {
      padding-inline: calc-to-rem(8);
      margin-block-end: calc-to-rem(8);
      font-size: calc-to-rem(14);
      line-height: calc-to-rem(18);
      color: rgb(168, 168, 168);
    }
    &__time {
      padding-inline: calc-to-rem(8);
      margin-block-end: calc-to-rem(8);
      font-size: calc-to-rem(10);
      color: rgb(168, 168, 168);
      letter-spacing: calc-to-rem(0.2);
    }
    &__comment {
      height: calc-to-rem(40);
      border-block-start: calc-to-rem(0.8) solid rgb(38, 38, 38);
    }
  }
}
