.post {
  border-radius: calc-to-rem(8);
  .dark & {
    border: calc-to-rem(1) solid $border-dark;
  }
  .light & {
    border: calc-to-rem(1) solid $border-light;
  }
  width: 100%;
  margin-block-end: calc-to-rem(12);
  // transition: all ease-in-out 1s;
  position: relative;
  overflow: hidden;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    .dark & {
      border-block-end: calc-to-rem(1) solid $border-dark;
    }
    .light & {
      border-block-end: calc-to-rem(1) solid $border-light;
    }
    &__wrapper {
      height: calc-to-rem(56);
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: inherit;
    }
    &__avatar {
      position: relative;
      padding-inline-start: calc-to-rem(8);
      @include desktop {
        width: calc-to-rem(48);
        height: calc-to-rem(48);
      }
      @include tablet {
        width: calc-to-rem(40);
        height: calc-to-rem(40);
      }
      @include mobile {
        width: calc-to-rem(40);
        height: calc-to-rem(40);
      }
    }
    &__text {
      flex-grow: 1;
      margin-inline-start: calc-to-rem(6);
      &__user-name {
        line-height: calc-to-rem(22);
        font-weight: bold;
      }
      &__sub-title {
        line-height: calc-to-rem(20);
      }
    }
    &__more-btn {
      background: transparent;
      border: 0;
      padding: calc-to-rem(8);
      color: inherit;
      cursor: pointer;
      &__svg {
        font-size: 24px;
      }
    }
  }
  &__content {
    position: relative;
    @include desktop {
      height: calc-to-rem(470);
    }
    @include tablet {
      height: calc-to-rem(400);
    }
    @include mobile {
      height: calc-to-rem(300);
    }
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    .dark & {
      border-block-end: calc-to-rem(1) solid $border-dark;
    }
    .light & {
      border-block-end: calc-to-rem(1) solid $border-light;
    }
  }
  &__footer {
    margin-block-start: calc-to-rem(4);
    &__btns {
      padding-block-end: calc-to-rem(6);
      padding-inline: calc-to-rem(12);
      display: flex;
      &__like-btn,
      &__comment-btn,
      &__share-btn,
      &__save-btn {
        border: 0;
        padding: calc-to-rem(8);
        background: transparent;
        color: inherit;
        // color: #ed4956;
        cursor: pointer;
      }
      &__like-btn.liked {
        color: rgb(237, 73, 86);
      }
      &__save-btn {
        margin-left: auto;
      }
    }
    &__likes {
      padding-inline: calc-to-rem(20);
      margin-block-end: calc-to-rem(8);
      font-weight: bold;
    }
    &__paragraph {
      padding-inline: calc-to-rem(20);
      overflow: hidden;
      &__user-name {
        display: block;
        font-weight: bold;
        margin-block-end: 8px;
      }
      &__content {
        display: -webkit-box;
        // display: block;
        white-space: pre-line;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: calc-to-rem(14);
        line-height: calc-to-rem(18);
        text-align: justify;
        &--show {
          white-space: pre-line;
          font-size: calc-to-rem(14);
          line-height: calc-to-rem(18);
          display: block;
          margin-block-end: calc-to-rem(8);
        }
      }
    }
    &__view-more {
      margin-block-end: calc-to-rem(8);
      font-size: calc-to-rem(14);
      line-height: calc-to-rem(18);
      color: rgb(168, 168, 168);
      padding-inline: calc-to-rem(20);
      cursor: pointer;
    }
    &__view-comments {
      padding-inline: calc-to-rem(20);
      margin-block-end: calc-to-rem(8);
      font-size: calc-to-rem(14);
      line-height: calc-to-rem(18);
      color: rgb(168, 168, 168);
      cursor: pointer;
    }
    &__time {
      padding-inline: calc-to-rem(20);
      margin-block-end: calc-to-rem(8);
      font-size: calc-to-rem(10);
      color: rgb(168, 168, 168);
      letter-spacing: calc-to-rem(0.2);
      text-transform: uppercase;
    }
    &__comment {
      color: inherit;
      min-height: calc-to-rem(40);
      max-height: calc-to-rem(80);
      .dark & {
        border-block-start: calc-to-rem(1) solid $border-dark;
      }
      .light & {
        border-block-start: calc-to-rem(1) solid $border-light;
      }
      // border-block-start: calc-to-rem(1) solid rgb(38, 38, 38);
      padding-block: calc-to-rem(4);
      padding-inline: calc-to-rem(12) calc-to-rem(16);
      overflow-x: auto;
      // text-align: justify;
      display: flex;
      align-items: center;
      &__emoji-picker {
        position: absolute;
        bottom: calc-to-rem(51);
        left: 0;
      }

      &__emoji-btn {
        border: 0;
        padding: calc-to-rem(8);
        background: transparent;
        color: inherit;
        cursor: pointer;
      }
      &__form {
        display: flex;
        align-items: center;
        flex-grow: 1;
        &__input-comment {
          border: 0;
          background: transparent;
          color: inherit;
          flex-grow: 1;
          // resize: none;
          height: calc-to-rem(18);
        }
        &__post-comment-btn {
          border: 0;
          padding: calc-to-rem(8);
          background: transparent;
          color: rgb(0, 149, 246);
          line-height: calc-to-rem(18);
          font-weight: bold;
          cursor: pointer;
          &:disabled {
            color: rgb(179, 219, 255);
          }
        }
      }
    }
  }
}
