.login-container {
  backface-visibility: hidden;
  transition: transform 0.6s;
  .login-container__top {
    position: relative;
    border: 1px solid gray;
    border-radius: 6px;
    height: calc-to-rem(345);
    width: calc-to-rem(310);
    margin-block-start: calc-to-rem(12);
    padding: calc-to-rem(30) calc-to-rem(40);
    .name-app {
      font-family: "Dancing Script", cursive;
      text-align: center;
      font-size: calc-to-rem(56);
      margin-block: 0 0.67em;
    }
    .btn-toggle-mode{
      position: absolute;
      top: 2%;
      right: 2%;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .username-input,
      .password-input {
        position: relative;
        margin-block-end: calc-to-rem(10);
        display: flex;
        align-items: center;
        width: 100%;
        font-size: calc-to-rem(20);
        input {
          width: 100%;
          padding: calc-to-rem(5) calc-to-rem(10);
          font-size: inherit;
          &:focus {
            outline: none;
          }
        }
        button {
          margin-inline-end: calc-to-rem(5);
          padding: calc-to-rem(5);
          position: absolute;
          right: 0;
          border: none;
          background: transparent;
          width: calc-to-rem(34);
          height: calc-to-rem(34);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          :hover {
            cursor: pointer;
            border-radius: 50%;
            background: gainsboro;
          }
        }
      }
      .login-btn {
        margin-block: calc-to-rem(30) calc-to-rem(46);
        padding: calc-to-rem(5) calc-to-rem(10);
        border: none;
        border-radius: 6px;
        background: #0095f6;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: calc-to-rem(20);
        transition: all 0.1s ease-in-out;
        &:hover {
          cursor: pointer;
          background: rgba(0, 148, 246, 0.8);
        }
        &:active{
          background: rgb(0, 114, 189);
        }
        &:disabled {
          background: rgb(178, 223, 252);
          color: #fdfeff;
        }
      }
    }
    a {
      font-size: calc-to-rem(14);
      color: $color-link;
    }
  }
  .login-container__botom {
    border: 1px solid gray;
    border-radius: 6px;
    height: max-content;
    margin-block-start: calc-to-rem(30);
    width: calc-to-rem(310);
    padding: calc-to-rem(20) calc-to-rem(40);
    text-align: center;
    a {
      font-weight: bold;
      color: $color-link;
    }
  }
}
