// Config
@import "resetScss";
@import "functions";
@import "variables";
// @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// @import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

// Components
@import "components/LoginForm/LoginForm.scss";
@import "components/RegisterForm/RegisterForm.scss";
@import "components/IconButton/IconButton.scss";
@import "components/SideBar/SideBar.scss";
@import "components/SideBar/SideBarItem/SideBarItem.scss";
@import "components/Avatar/Avatar.scss";
@import "components/Loading/Loading.scss";
@import "components/Story/Story.scss";
@import "components/StoryAvatar/StoryAvatar.scss";
@import "components/Post/Post.scss";
@import "components/Widget/Widget.scss";
@import "components/SearchBar/SearchBar.scss";
@import "components/ImageSlider/ImageSlider.scss";
@import "components/Modal/Modal.scss";
@import "components/ModalPost/ModalPost.scss";
@import "components/Comment/Comment.scss";

// Pages
@import "./styles/style-pages/CheckinPage.scss";
@import "./style-pages/HomePage.scss";
// Global
html,
body {
  // font-family: "Roboto", sans-serif;
  // font-family: "Segoe UI", sans-serif;
  font-size: calc-to-rem(16);
  // overflow-y: hidden;
  scrollbar-color: darkgray black;
  scrollbar-width: thin;
}
