$background-web: #d1b2b2;
$background-web-main-board: #ffffff;
$color-test: darkgray;
$color-link: #139cf6;
$border-dark: rgb(54, 54, 54);
$border-light: #dbdbdb;
$background-dark: black;
$background-light: white;
$text-dark: white;
$text-light: black;
