$background-web: #d1b2b2;
$background-web-main-board: #ffffff;
$color-test: darkgray;
$color-link: #00b9d8;
$border-dark: #393e46;
$border-light: #dbdbdb;
$background-dark: #222831;
$background-light: white;
$text-dark: white;
$text-light: black;
$side-bar-background-dark: #222831;
// $main-background-dark: #121212;
$main-background-dark: #222831;
$main-color-button: #00b9d8;
//rgb(0, 149, 246)
